<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_DSServices">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_DSServices" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://oc.services.debitsuccess.com/DSWebService/DSServices.svc/basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DSServices"
          contract="TestCredentials.DSServices" name="BasicHttpBinding_DSServices_OC" />
      <endpoint address="https://us.services.debitsuccess.com/DSWebService/DSServices.svc/basic"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DSServices"
           contract="TestCredentials.DSServices" name="BasicHttpBinding_DSServices_US" />
      <endpoint address="https://oc-test.services.debitsuccess.com/DSWebService/DSServices.svc/basic"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DSServices"
           contract="TestCredentials.DSServices" name="BasicHttpBinding_DSServices_OCTest" />
      <endpoint address="https://oc.services.debitsuccess.com/DSWebService/DSServices.svc/ws"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DSServices"
          contract="TestCredentials.DSServices" name="WSHttpBinding_DSServices" />
    </client>
  </system.serviceModel>
</configuration>